<h1>Ajax Forms Samples</h1>
<div>
This controller demonstrates a variety of ways to Ajaxify form input in an application. The links below take you through 
a variety of options for doing basic CRUD (create, read, update, delete) operations via Ajax. 
</div>
<div>
  <ol>
    <li>
      <%= link_to 'Autocomplete', :action=>'autocomplete' %> demonstrates auto-completion of a form field
      based on a server Ajax response.
    </li>
    <li>
      <%= link_to 'Search', :action=>'search' %> demonstrates observing a search field on a form.
    </li>
    <li>
      <%= link_to 'RJS', :action=>'new' %> demonstrates creating an object, with RJS updates.
    </li>
    <!-- <li>
      <%= link_to 'In-Place Editing', :controller=>'user', :action=>'inplace_demo' %> demonstrates using an In-Place Editor to edit 
      content without having to switch between "show" and "edit" modes.
    </li>
    <li>
      <%= link_to 'Searching', :controller=>'user', :action=>'search_demo'%> demonstrates search with dynamic Ajax update.
    </li>
    <li>
      <%= link_to 'Sorting', :controller=>'user', :action=>'sort_demo' %> demonstrates setting sort columns with dynamic Ajax update.
    </li>
    <li>
      <%= link_to 'Expando', :controller=>'user', :action=>'expando_demo' %> demonstrates a form that expands to allow entry
      of multiple subitems
    </li>
    <li>
      <%= link_to 'Drag and Drop', :controller=>'user', :action=>'drag_demo' %> demonstrates drag and drop.
    </li>
    <li>
      <%= link_to 'Sort', :controller=>'user', :action=>'sort_demo' %> demonstrates sorting.
    </li> -->
</div>
