<h1>New widget</h1>

<div id="model_error">
  <%= error_messages_for :widget %>
</div>

<% remote_form_for(@widget, 
                   :url => {:action => "create"},
                   :html => {:id => "model_form"}) do |f| %>
  <p>
    <label for="widget[name]">Name</label>:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <label for="widget[weight]">Weight</label>:<br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <label for="widget[color]">Color</label>:<br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

